<!DOCTYPE html>
<html ng-app="myBookList">

<head>
  <meta charset="utf-8" />
  <title>Book Categories</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
  <link href="styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="bookCtrl">

  <h1>Book Categories</h1>

  <ul>
    <li ng-repeat="category in bookCategories">
      {{category.name}} <span ng-click="removeCategory($index)">&times;</span>
      <ul>
        <li ng-repeat="book in category.books">{{book}} <span ng-click="removeBook($parent.$index, $index)">&times;</span></li>
      </ul>
      <input ng-model="newBook" placeholder="Add new book" />
      <button ng-click="addBook($index)">Add</button>
    </li>
  </ul>

  <input ng-model="newCategory" placeholder="Add new category" />
  <button ng-click="addCategory()">Add Category</button>

  <p>{{errortext}}</p>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script>
    var app = angular.module("myBookList", []);
    app.controller("bookCtrl", function ($scope) {
      $scope.bookCategories = [
        { name: "Researcher Books", books: ["Book 1", "Book 2", "Book 3"] },
        { name: "Academic Books", books: ["Book A", "Book B", "Book C"] },
        { name: "Social Books", books: ["Book X", "Book Y", "Book Z"] }
      ];

      $scope.addCategory = function () {
        $scope.errortext = "";
        if (!$scope.newCategory) { return; }
        if ($scope.bookCategories.findIndex(category => category.name.toLowerCase() === $scope.newCategory.toLowerCase()) === -1) {
          $scope.bookCategories.push({ name: $scope.newCategory, books: [] });
          $scope.newCategory = "";
        } else {
          $scope.errortext = "The category already exists.";
        }
      };

      $scope.removeCategory = function (index) {
        $scope.errortext = "";
        $scope.bookCategories.splice(index, 1);
      };

      $scope.addBook = function (categoryIndex) {
        $scope.errortext = "";
        if (!$scope.newBook) { return; }
        if ($scope.bookCategories[categoryIndex].books.indexOf($scope.newBook) === -1) {
          $scope.bookCategories[categoryIndex].books.push($scope.newBook);
          $scope.newBook = "";
        } else {
          $scope.errortext = "The book already exists in this category.";
        }
      };

      $scope.removeBook = function (categoryIndex, bookIndex) {
        $scope.errortext = "";
        $scope.bookCategories[categoryIndex].books.splice(bookIndex, 1);
      };
    });
  </script>
</body>

</html>
